:root {
  --widthCircle: 30rem;
  --widthItem: 3rem;
}

.parent {
  position: relative;
  width: var(--widthCircle);
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: transform 0.7s linear;
  animation: rotateInfinitely 60s linear infinite;
}

.parent:hover {
  animation-play-state: paused;
}

.parent:hover .child {
  animation-play-state: paused;
}

.child {
  position: absolute;
  width: var(--widthItem);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateInfinitelyChild 60s linear infinite;
  transition: width 0.4s ease-in-out;
}

.child:hover {
  transform: scale3d(1.4);
}

.child img {
  max-width: 100%;
  mix-blend-mode: luminosity;
}

.child:nth-child(1) {
  left: calc(var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(-1 * var(--widthItem) / 2);
}

.child:nth-child(2) {
  left: calc(var(--widthCircle) / 2 + 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 - 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(3) {
  left: calc(var(--widthCircle) / 2 + 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 - 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(4) {
  left: calc(var(--widthCircle) - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(5) {
  left: calc(var(--widthCircle) / 2 + 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 + 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(6) {
  left: calc(var(--widthCircle) / 2 + 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 + 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(7) {
  left: calc(var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) - var(--widthItem) / 2);
}

.child:nth-child(8) {
  left: calc(var(--widthCircle) / 2 - 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 + 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(9) {
  left: calc(var(--widthCircle) / 2 - 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 + 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(10) {
  left: calc(-1 * var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(11) {
  left: calc(var(--widthCircle) / 2 - 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 - 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(12) {
  left: calc(var(--widthCircle) / 2 - 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 - 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

@keyframes rotateInfinitely {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateInfinitelyChild {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}/*# sourceMappingURL=round.css.map */