:root {
  --widthCircle: 30rem;
  --widthItem: 3rem;
}

.parent {
  position: relative;
  width: var(--widthCircle);
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: transform 0.7s linear;
  animation: rotateInfinitely 60s linear infinite;
}

.parent:hover {
  animation-play-state: paused;
}

.parent:hover .child {
  animation-play-state: paused;
}

.child {
  position: absolute;
  width: var(--widthItem);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateInfinitelyChild 60s linear infinite;
  transition: width 0.4s ease-in-out;
}

.child:hover {
  transform: scale3d(1.4);
}

.child img {
  max-width: 100%;
  mix-blend-mode: luminosity;
}

.child:nth-child(1) {
  left: calc(var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(-1 * var(--widthItem) / 2);
}

.child:nth-child(2) {
  left: calc(var(--widthCircle) / 2 + 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 - 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(3) {
  left: calc(var(--widthCircle) / 2 + 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 - 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(4) {
  left: calc(var(--widthCircle) - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(5) {
  left: calc(var(--widthCircle) / 2 + 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 + 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(6) {
  left: calc(var(--widthCircle) / 2 + 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 + 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(7) {
  left: calc(var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) - var(--widthItem) / 2);
}

.child:nth-child(8) {
  left: calc(var(--widthCircle) / 2 - 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 + 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(9) {
  left: calc(var(--widthCircle) / 2 - 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 + 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(10) {
  left: calc(-1 * var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(11) {
  left: calc(var(--widthCircle) / 2 - 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 - 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

.child:nth-child(12) {
  left: calc(var(--widthCircle) / 2 - 0.5 * var(--widthCircle) / 2 - var(--widthItem) / 2);
  top: calc(var(--widthCircle) / 2 - 0.8660254038 * var(--widthCircle) / 2 - var(--widthItem) / 2);
}

@keyframes rotateInfinitely {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateInfinitelyChild {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes fadeInDownNavbar {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -100%, 0);
    transform: translate3d(-50%, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
a {
  text-decoration: none;
}

.navigation {
  width: 100%;
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 3vh 2vw;
  background: var(--color-navbar-light);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: calc(100% - 25vw);
  border-radius: 1rem;
  animation: fadeInDownNavbar;
  animation-duration: 1s;
}
.navigation__navbar {
  position: relative;
  height: 2rem;
  width: 55.5%;
}
.navigation__navbar .progressbar {
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: blue;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}
.navigation .navlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.navigation .navlist a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  color: var(--subtitle-color-light);
}
.navigation .navlist a:hover {
  color: var(--title-color-light);
  font-weight: 700;
}
.navigation .navlist .active {
  color: var(--title-color-light);
  font-weight: 700;
}
.navigation__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--text-color-light);
  cursor: pointer;
}
.navigation__buttons svg {
  height: 1.5rem;
}
.navigation__buttons .flags {
  display: flex;
  gap: 1rem;
}
.navigation__buttons #lightThemeIcon {
  display: none;
}
.navigation__progressBar {
  width: 0;
  height: 0.2rem;
  background-color: var(--main-color);
}

#darkThemeIcon {
  border-radius: 50%;
  fill: none;
}
#darkThemeIcon:hover {
  fill: currentColor;
}

#lightThemeIcon {
  fill: currentColor;
}
#lightThemeIcon:hover {
  fill: #fad390;
}

#hero {
  padding-top: 17vh;
}

.heroContent {
  gap: 2rem;
  justify-content: start;
  padding-top: 2rem;
}

.profilePicture {
  width: 16rem;
  aspect-ratio: 1/1;
}

.callToActions {
  display: flex;
  gap: 1rem;
}

#about {
  display: flex;
  flex-direction: row;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.aboutContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: end;
  justify-content: end;
}

.aboutCard {
  aspect-ratio: 2/1.3;
  position: absolute;
  background-color: var(--color-card-light);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 9;
  border-radius: 0.7rem;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.8rem 3rem;
  transition: background-color 0.4s ease-in-out;
}
.aboutCard__text {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.animationAbout .aboutCard {
  animation: movein_left 1s ease-in-out;
}
.animationAbout .aboutPicture {
  animation: movein_right 1s ease-in-out;
}

.aboutButtons {
  display: flex;
  gap: 1.5rem;
  max-width: 80%;
  overflow: hidden;
}
.aboutButtons .svg-box {
  display: flex;
  gap: 1rem;
  color: var(--text-color-light);
  align-items: center;
  cursor: pointer;
}
.aboutButtons .svg-box svg {
  height: 1.8rem;
  width: 1.8rem;
}
.aboutButtons .svg-box p {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
  white-space: nowrap;
  font-weight: 700;
}
.aboutButtons .svg-box:hover p {
  cursor: pointer;
  width: 100%;
}
.aboutButtons #github-btn {
  color: var(--text-color-light);
}
.aboutButtons #linked-btn {
  color: #0077B5;
}
.aboutButtons #figma-btn {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, rgb(162, 89, 255) 0%, rgb(242, 78, 30) 35%, rgb(10, 207, 131) 71%, rgb(26, 188, 254) 89%);
}

.aboutPicture {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: green;
  background-image: url("/assets/square_profile.png");
  background-position: center;
  background-size: cover;
  border-radius: 0.8rem;
}

@keyframes movein_right {
  from {
    transform: translate(200%, 0);
  }
  to {
    transform: translate(0, 0%);
  }
}
@keyframes movein_left {
  0% {
    transform: translate(-200%, -50%);
    visibility: visible;
  }
  to {
    transform: translate(0, -50%);
  }
}
#academic {
  gap: 5rem;
  height: auto;
}

.timeline {
  width: 0.3rem;
  margin-bottom: 5rem;
  border-radius: 2rem;
  height: 60rem;
  background-color: var(--color-timeline-light);
  position: relative;
}

.activetimeline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: var(--main-color);
  z-index: 9;
  max-height: 100%;
  min-height: 0;
}

.points {
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-timeline-light);
  width: 1rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}
.points:nth-child(2) {
  top: 16%;
}
.points:nth-child(3) {
  top: 50%;
}
.points:nth-child(4) {
  top: 84%;
}
.points.activePoint {
  transition: background-color 0.2s ease-in-out;
  background-color: var(--main-color);
}

.pointCard {
  position: absolute;
  left: 300%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.pointCard__heading {
  white-space: nowrap;
}
.pointCard .body-text {
  width: 45ch;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
}
.pointCard .button-text {
  color: var(--main-color);
  position: relative;
  width: max-content;
  cursor: pointer;
}
.pointCard .button-text::after {
  content: "";
  width: 100%;
  height: 0.15rem;
  background-color: var(--main-color);
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 0;
  transition: width 0.2s ease-in;
}
.pointCard .button-text:hover::after {
  width: 100%;
}

#secondCard {
  left: auto;
  right: 300%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
#secondCard .pointCard__heading {
  justify-content: end;
  text-align: right;
}

#skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillsContent {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headingSkills {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#projects {
  align-items: center;
  height: auto;
  padding-top: 16vh;
}

.navbarProjects {
  display: flex;
  gap: 3.5rem;
  margin: 4rem 0 5rem 0;
}
.navbarProjects a {
  text-decoration: none;
}

.projectsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 6rem;
}

.itemProject {
  width: 100%;
  aspect-ratio: 2/1.7;
  display: flex;
  justify-content: start;
  align-items: end;
  overflow: hidden;
  border-radius: 1rem;
  padding: 2rem;
  gap: 1.5rem;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  cursor: pointer;
}
.itemProject__description {
  min-height: 0;
}
.itemProject__description__tools {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.itemProject__description h4 {
  font-size: 1.1124845488rem;
}
.itemProject__description h3 {
  font-size: 1.8rem;
}
.itemProject__description .button-text {
  color: var(--main-color);
}
.itemProject:hover {
  background-color: #e4e6e9;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.12);
}

.discover-project-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

.discover-project-buttons__item {
  display: flex;
  align-items: center;
  color: var(--text-color-light);
  border-radius: 1rem;
  gap: 0.5rem;
  font-weight: 600;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}
.discover-project-buttons__item:hover {
  transform: scale(1.1);
}
.discover-project-buttons__item svg {
  height: 1rem;
}
.discover-project-buttons__item-github:hover path {
  fill: var(--opposite-background-color-light);
}
.discover-project-buttons__item-github:hover p {
  color: var(--opposite-background-color-light);
}
.discover-project-buttons__item-figma:hover p {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(45deg, rgb(162, 89, 255) 0%, rgb(242, 78, 30) 35%, rgb(10, 207, 131) 71%, rgb(26, 188, 254) 89%);
}

#gradesApp {
  background: linear-gradient(180deg, rgba(2, 3, 7, 0) 0%, var(--gradient-card-light-30) 30.5%, var(--gradient-card-light-60) 61.9%, var(--gradient-card-light-100) 100%), url("/assets/projects/app.png");
  background-position: 50% 0%;
  background-size: cover;
}

#keopsGame {
  background: linear-gradient(180deg, rgba(2, 3, 7, 0) 0%, var(--gradient-card-light-30) 30.5%, var(--gradient-card-light-60) 61.9%, var(--gradient-card-light-100) 100%), url("/assets/projects/keops.png");
  background-position: center;
  background-size: cover;
}

#metaWebsite {
  background: linear-gradient(180deg, rgba(2, 3, 7, 0) 0%, var(--gradient-card-light-30) 30.5%, var(--gradient-card-light-60) 61.9%, var(--gradient-card-light-100) 100%), url("/assets/projects/games.png");
  background-size: cover;
}

#portfolioWebsite {
  background: linear-gradient(180deg, rgba(2, 3, 7, 0) 0%, var(--gradient-card-light-30) 30.5%, var(--gradient-card-light-60) 61.9%, var(--gradient-card-light-100) 100%), url("/assets/projects/portfolio.png");
  background-size: cover;
}

#contact {
  background-image: url("/assets/map.svg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: start;
  justify-content: center;
  transition: opacity 1s ease-in-out;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes movein_contact {
  0% {
    transform: translate(-200%, 0%);
    visibility: visible;
  }
  to {
    transform: translate(0, 0);
  }
}
.contactCard {
  display: flex;
  flex-direction: column;
}
.contactCard__description {
  margin: 0.75rem 0 1.5rem 0;
  max-width: 50ch;
}
.contactCard__buttons {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.animate__slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}/*# sourceMappingURL=style.css.map */