a,
button {
  text-decoration: none;
  outline: none;
  appearance: none;
  border: none;
}

.button {
  display: flex;
  padding: var(--padding-button, 0rem 1.25rem);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: var(--full-radius);
  width: var(--width-button, fit-content);
  height: 100%;
  font-family: 'Plus Jakarta Sans';
  font-size: 0.875rem;
  font-weight: 600;
  background-color: var(--background-color, none);
  color: var(--color-button, none);

  &:not(:disabled):hover {
    transition: all 0.4s;
    cursor: pointer;
  }

  &.border {
    border: 0.1rem solid var(--border-color);

    @media (hover: hover) {
      &:not(:disabled):hover {
        border-color: rgba(31, 76, 52, 0.7);
        border-color: var(--border-hover-color, rgba(31, 76, 52, 0.7));
      }
    }

    &:focus-visible {
      border-color: var(--border-color);
    }
  }

  &.cta {
    background-color: var(--accent-color);
    color: #ecfdf5;

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: #153826;
      }
    }
  }

  &::ng-deep {
    svg {
      height: var(--size-svg, 1.25rem);
    }

    span {
      line-height: 1;
      align-items: center;
      height: 100%;
      display: var(--display-text, inline-flex);
    }
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}
