.stack {
  background-color: #f3f4f6;
}

.stack-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.5rem;
}

.stack-group {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  width: 100%;

  & .grid {
    display: flex;
    gap: 0.5rem;
  }
}

.stack-header {
  display: flex;
  align-items: center;

  & .title {
    color: var(--color-80);
    display: flex;
    gap: 0.625rem;

    & h3 {
      font-family: 'Space Grotesk';
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 110%;
    }
  }

  & .description {
    color: var(--color-60);
    font-family: 'Plus Jakarta Sans';
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 140%;
    margin: 0.5rem 0 1rem 0;
  }
}

.grid-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.125);
  border-radius: var(--full-radius);
  background-color: var(--bg-color);
  height: 2.5rem;
  padding: 0 0.875rem;

  & svg {
    height: 1.25rem;
  }

  & span {
    color: var(--color-80);
    font-family: 'Plus Jakarta Sans';
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 120%;
  }
}

@media screen and (max-width: 884px) {
  .stack {
    padding: 6rem 0;
  }
  .stack-header {
    width: 100%;
    .title h3 {
      font-size: 1.375rem;
    }
  }
  .stack-group {
    flex-direction: column;
  }

  .grid {
    flex-wrap: wrap;
  }
}
