.stack {
  background-color: #f3f4f6;
}

.stack-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 4rem;
}

.stack-group {
  display: flex;
  flex-direction: column;

  & .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    width: 90%;
  }
}

.stack-header {
  & .title {
    color: var(--accent-color);
    display: flex;
    gap: 0.625rem;

    & h3 {
      font-family: 'Space Grotesk';
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 110%;
    }
  }

  & .description {
    color: var(--color-80);
    font-family: 'Plus Jakarta Sans';
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 140%;
    margin: 0.5rem 0 1rem 0;
  }
}

.grid-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.125);
  border-radius: var(--full-radius);
  background-color: var(--bg-color);
  height: 2.5rem;
  padding: 0 0.875rem;

  & svg {
    height: 1.15rem;
  }

  & span {
    color: var(--color-80);
    font-family: 'Plus Jakarta Sans';
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 120%;
  }
}

@media screen and (max-width: 767px) {
  .stack-list {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}
