.banner{
    background-color: var(--color-alabster);
    width: 100%;
    padding: .75rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & a {
        text-decoration: none;
    }

}

.label{
    display: flex;
    gap: .5rem;
    align-items: center;
    color: var(--color-jumbo);

    & p{
        font-size: .9rem;
        font-weight: 500;
    }
}

.languages{
    display: flex;
    gap: .3rem;

    & svg{
        height: 1.2rem;
        opacity: .3;

        &.active{
            opacity: 1;
        }

        &:hover{
            opacity: 1;
            cursor: pointer;
        }
        
    }
}

@media screen and (max-width: 767px) {
    .banner{
        display: none;
    }
}