.references {
  --references-section-width: min(calc(100% - 1.5rem * 2), 700px);
  align-items: center;
  background-color: #f3f4f6;
  gap: 0;
}

.section-title {
  text-align: center;
  width: var(--references-section-width);
  margin-inline: auto;
}

.references-picker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-top: 6rem;
  height: 2.5rem;
  width: var(--references-section-width);
  margin-inline: auto;
  max-width: 275px;

  &-item {
    width: 100%;
    --width-button: 100%;

    &.active {
      --border-color: var(--color-90);
    }
  }
}

.reference {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: var(--references-section-width);
  margin-inline: auto;
  margin: 4rem 0 2rem 0;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    row-gap: 1rem;
  }
}

.author {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &-name {
    color: var(--color-90);
    font-family: 'Space Grotesk';
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 110%;
  }

  &-infos {
    color: var(--color-60);
    font-family: 'Plus Jakarta Sans';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
}

.company-logo svg {
  height: 2.25rem;
}

.reference-text {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  & p {
    color: var(--color-80);
    font-family: 'Plus Jakarta Sans';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}

.linkedin-link {
  height: 2.75rem;
  width: var(--references-section-width);
  margin-inline: auto;
}

@media screen and (max-width: 767px) {
  .references {
    align-items: start;
  }
  .section-title {
    text-align: start;
  }

  .company-logo svg {
    height: 2.5rem;
  }
  .reference {
    gap: 1rem;
  }

  .author {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &-name {
      font-size: 1.125rem;
    }

    &-infos {
      font-size: 0.9rem;
    }
  }

  .reference-text p {
    font-size: 0.9rem;
  }
}
