.references {
  background-color: #f3f4f6;
  gap: 3rem;
}

.references-list {
  display: flex;
  gap: 4rem;
}

.reference {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    row-gap: 1rem;
  }
}

.author {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &-name {
    color: var(--color-90);
    font-family: 'Space Grotesk';
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 110%;
  }

  &-infos {
    color: var(--color-60);
    font-family: 'Plus Jakarta Sans';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
}

.company-logo svg {
  height: 2.25rem;
}

.reference-text {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  & p {
    color: var(--color-80);
    font-family: 'Plus Jakarta Sans';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}

.linkedin-link {
  height: 2.75rem;
}

@media screen and (max-width: 767px) {
  .company-logo svg {
    height: 2.5rem;
  }
  .reference {
    gap: 1rem;
  }

  .author {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &-name {
      font-size: 1.125rem;
    }

    &-infos {
      font-size: 0.9rem;
    }
  }

  .reference-text p {
    font-size: 0.9rem;
  }
}
