@let projectInfos = this.projectInfos();
<a
  [href]="`/projects/${projectInfos.name}`"
  [style.--project-accent-color]="projectInfos.accentColor"
  class="card"
  [id]="projectInfos.name"
  [style]="{backgroundColor: projectInfos.bgColor}"
>
  <div class="project-type">{{ projectInfos.projectType }}</div>
  <h2 class="description">{{ projectInfos.description }}</h2>
  <div class="tags">
    @for (tag of projectInfos.tags; track $index) {
      <div class="tag" [style]="{backgroundColor: projectInfos.bgColor}">
        <span>{{ tag }}</span>
      </div>
    }
  </div>
  <div class="illustration">
    <img [src]="`/project-illustrations/${projectInfos.name}.webp`" alt="" />
  </div>
</a>
