.carousel {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.carousel-scroll {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-left: var(--carousel-padding);
  padding-right: var(--carousel-padding);
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-padding-left: var(--carousel-padding);

  &::-webkit-scrollbar {
    display: none;
  }

  & .project {
    scroll-snap-align: start;
  }
}

.carousel-footer {
  margin: 0 var(--carousel-padding);
  height: 2.75rem;
  display: flex;
}

.carousel-navigations,
.carousel-links {
  display: flex;
  gap: 0.375rem;
  height: 100%;
}

.carousel-navigations {
  --display-text: none;
  --width-button: 2.75rem;
  --padding-button: 0;
  --size-svg: 1rem;
}

.carousel-links {
  --color-button: rgba(2, 6, 23, 0.8);
  --size-text: 0.875rem;
  --size-svg: 1.125rem;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .carousel-links {
    --display-text: none;
    --width-button: 2.75rem;
    --padding-button: 0;
    --size-svg: 1rem;
  }
}
