.work-page-wrap{
    width: 100%;
    padding-top: 8rem;
    gap: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content-project{
    display: flex;
    gap: 3rem;
    width: 100%;
    flex-direction: column;
    padding: 0 20vw;

    .hero-project{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
        width: 100%;

        &-tags{
            display: flex;
            gap: .6rem;
            flex-wrap: wrap;
        }

        &-texts{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: .75rem;

            &-name{
                color: var(--color-jumbo);
                text-align: center;
                font-size: 1.0625rem;
                font-weight: 400;
                line-height: 2.125rem; /* 200% */
            }

            &-title{
                color: var(--only-1-framer-website-black, #000);
                font-size: 2.5rem;
                font-weight: 550;
                line-height: 3.25rem; /* 136.842% */
                letter-spacing: -0.05rem;
                max-width: 45rem;
                font-family: 'Syne';
            }
        }

        &-links{
            display: flex;
            gap: 1rem;
            &-item{
                flex: 1 0 auto;
            }
        }
    }

    &-cover{
        width: 100%;
        aspect-ratio: 50/33;
        border-radius: 1rem;
        background-position: center;
        background-size: cover;
        overflow: hidden;

        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }

    &-paragraph{
        display: flex;
        flex-direction: column;
        gap: .75rem;
        & p{
            color: var(--color-ship-gray);
            font-weight: 400;
            line-height: 2rem; /* 200% */
            letter-spacing: -0.02rem;

            &.list{
                margin: 1rem 0 1rem 5%;
            }
            
            
        };
    }

    &-grid-image{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;

        & img:first-child, & img:last-child{
            grid-column: 1 / 3;
        }
    }

    &-image{
        border-radius: .75rem;
        width: 100%;
        object-fit: cover;

        &.small{
            aspect-ratio: 50/20;
        }
    }
}

.other-projects{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;

    &-title{
        font-weight: 500;
        line-height: 1.6rem; /* 160% */
        letter-spacing: -0.02rem;
        padding: 0 var(--default-padding);
    }

    &-grid{
        display: flex;
        gap: 1rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        & .project-card-wrap{
            scroll-snap-align: center;
            &-cover{
                width: 100%;
                width: 30rem;
            }

            &.first-child{
                padding-left: var(--default-padding);
            }

            &.last-child{
                padding-right: var(--default-padding);
            }
        }
    }

   
}


@media screen and (max-width: 900px) {
    .work-page{
        padding: 8rem 0;
        align-items: start;
        gap: 4rem;
    }

    

    .content-project{
        display: flex;
        gap: 3rem;
        width: 100%;
        flex-direction: column;
        padding: 0 2rem;

        .hero-project{
            align-items: start;
            gap: 2rem;
            width: 100%;
        
            &-tags{
                display: flex;
    
                gap: .6rem;
            }
        
            &-texts{
                align-items: start;
                gap: .5rem;
                
                &-title{
                    text-align: start;
                    width: 100%;
                }
            }
        }
    }

    .other-projects{
        &-grid{
            & .project-card-wrap{
        
                &-cover{
                    width: 80vw;
                }
            }
        }
    
       
    }
}