.work-page-wrap{
    width: 100%;
    padding-top:8rem;
    gap: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    --padding-workpage: 20vw;
}

.project-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 3rem;
    &-hero{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
        width: 100%;
        padding: 0 var(--padding-workpage);
    
        &-tags{
            display: flex;
            gap: .6rem;
            flex-wrap: wrap;
        }
    
        &-texts{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: .75rem;
    
            &-name{
                color: var(--color-jumbo);
                text-align: center;
                font-size: 1.0625rem;
                font-weight: 400;
                line-height: 2.125rem; /* 200% */
            }
    
            &-title{
                color: var(--only-1-framer-website-black, #000);
                font-size: 2.5rem;
                font-weight: 550;
                line-height: 3.25rem; /* 136.842% */
                letter-spacing: -0.05rem;
                max-width: 45rem;
                font-family: 'Syne';
            }
        }
    
        &-links{
            display: flex;
            gap: .6rem;
            &-item{
                flex: 1 0 auto;
                &:hover{
                    cursor: url('~/src/cursors/cursor-project.svg') 16 16, auto;
                
                }
            }
        }
    }
    
    &-images{
        width: 100%;
        background-position: center;
        background-size: cover;
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        gap: .5rem;
        padding: 0 var(--padding-workpage);
    
        & img{
            aspect-ratio: 50/33;
            scroll-snap-align: center;
            object-fit: cover;
            border-radius: .5rem;
            width: 80vw;
            max-width: 35rem;
        }
    
    }
    
    
    &-content{
        display: flex;
        gap: 3rem;
        width: 100%;
        flex-direction: column;
        padding: 0 var(--padding-workpage);
    
        &-paragraph{
            display: flex;
            flex-direction: column;
            gap: .75rem;

            & img{
                width: 100%;
                border-radius: .5rem;
                margin: 1rem 0;
            }

            & p{
                color: var(--color-ship-gray);
                font-weight: 400;
                line-height: 2rem; /* 200% */
                letter-spacing: -0.02rem;
    
                &.list{
                    margin: 1rem 0 1rem 5%;
                }
                
                
            };
        }
    
        &-image{
            border-radius: .75rem;
            width: 100%;
            object-fit: cover;
            overflow: hidden;

            & img{
                width: 100%;
            }
        }
    }
}


.other-projects{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    

    &-title{
        font-weight: 500;
        line-height: 1.6rem; /* 160% */
        letter-spacing: -0.02rem;
        text-align: start;
        padding: 0 var(--padding-workpage);
    }

    &-grid{
        display: flex;
        gap: 1rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        padding: 0 var(--padding-workpage);
        width: 100%;

        & .project-card-wrap{
            &-cover{
                width: 75vw;
                max-width: 30rem;
                
            }
        }
    }

   
}


@media screen and (max-width: 900px) {
    .work-page-wrap{
        padding-top: 8rem;
        align-items: start;
        gap: 4rem;
        --padding-workpage: 2rem;
    }

    .project-details{
        &-hero{
            align-items: start;
            gap: 2rem;
            width: 100%;
        
            &-tags{
                display: flex;
                gap: .6rem;
            }
        
            &-texts{
                align-items: start;
                gap: .5rem;
                
                &-title{
                    text-align: start;
                    width: 100%;
                }
            }
        
            &-links{
                display: flex;
                gap: .6rem;
                &-item{
                    flex: 1 0 auto;
                }
            }
        }

    }

}
