body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section{
    padding: 8rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.content{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    z-index: 2;
    padding: 0 var(--default-padding);

    & a{
        color: currentColor;
    }

    & .pill{
        width: fit-content;
    }

    & .main-button{
        stroke: black;
        width: fit-content;
    }

    & .main-button:hover{
        .right-circle{
            &-hover{
                background-color: #23613E;
                transform: translateX(-120%);
                stroke: white;
            }

            
        }
    }

    & .texts{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    

        & .title{
            display: flex;
            flex-direction: column;
            align-items: start;
            & h2 {
                font-size: 3rem;
                font-weight: 600;
                text-align: left;
                font-style: normal;
                line-height: 120%; /* 136.842% */
                letter-spacing: -0.05rem;
                color: var(--color-persian-blue);
            }

            & h1{
                font-size: 4rem;
                font-weight: 700;
                text-align: left;
                font-style: normal;
                line-height: 1; /* 136.842% */
                letter-spacing: -0.05rem;
                font-family: 'Syne';
                color: var(--color-main-color);
                
            }
        }

      
    
        & p {
            color: var(--only-1-framer-website-ship-gray, #3F3F46);
            text-align: left;
            width: 100%;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.6875rem; /* 180% */
            letter-spacing: -0.00938rem;
            max-width: 60ch;
        }
    }

   
}

.carousel-item{
    width: 100%;
}

@media screen and (max-width: 1023px) {

    .content{
        align-items: start;
        padding: 0 2rem;
    
        & .texts{
            text-align: start;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1.25rem;
            


            & .title{
                gap: .5rem;
                & h1, & h2{
                    text-align: start;
                    width: 100%;
                }

                & h2{
                    font-size: 2rem;
                }

                
            }
    
            
        
            & p {
                width: 100%;
                text-align: start;
            }
        }
    
       
    }
    
}