.services-section{
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    &-texts{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        visibility: hidden;
        

        &.animate{
            animation: fadeInUp;
            animation-duration: 1s;
            visibility: visible;
        }

        &-title{
            color: #06150C;
            text-align: center;
            font-size: 1.75rem;
            font-weight: 500;
            line-height: 2.25rem; /* 128.571% */
            letter-spacing: -0.035rem;
        }

        &-description{
            color: var(--color-ship-gray);
            text-align: center;
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 150%; /* 1.125rem */
            letter-spacing: -0.00938rem;
            width: 25rem;
        }
    }
}

.services-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: var(--color-athens-grey);
    padding: .5rem;
    border-radius: 1rem;
    gap: .5rem;
    visibility: hidden;

    &.animate{
        animation: fadeInUp;
        animation-duration: 1s;
        visibility: visible;
    }

    &-item{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem;
        background-color: white;
        border-radius: .5rem;

        &-header{
            display: flex;
            gap: 1rem;
            align-items: center;

            & h2 {
                color: #06150C;
                /* only1.framer.website/Inter/Medium 16 */
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.6rem; /* 160% */
                letter-spacing: -0.02rem;
            }
        }

        &-text{
            color: var(--color-ship-gray);
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 1.6875rem; /* 180% */
            letter-spacing: -0.00938rem;
            width: 21rem;
        }

        & svg{
            height: 1.25rem;
            aspect-ratio: 1/1;
        }
    }
}


@media screen and (max-width: 767px) {
    .services-section{
        padding: 8rem 1rem;
        align-items: start;
    
        &-texts{
            align-items: start;
            width: 100%;
    
            &-title{
                text-align: start;
                width: 100%;
            }
    
            &-description{
                width: 100%;
                text-align: start;
            }
        }
    }

    .services-grid{
        width: 100%;
        grid-template-columns: 1fr;
    
        &-item{
            width: 100%;
    
            &-text{
                width: 100%;
            }
        }
    }
}