.tools-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 11rem 0;
    background: var(--color-linear-alabaster-athens-gray);

    &-texts{
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;
        gap: .75rem;
        width: 100%;
        padding: 0 var(--default-padding);

        &-description{
            color: var(--color-ship-gray);
            font-size: 1rem;
            font-weight: 400;
            line-height: 150%; /* 180% */
            letter-spacing: -0.00938rem;
            width: 55ch;
        }
        
    }
}

.tools-grid{
    display: flex;
    gap: 0.6rem;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-right: var(--default-padding);

   
}

@media screen and (max-width: 900px) {
    .tools-section{
        padding: 8rem 0;
        align-items: start;
    
        &-texts{
            align-items: start;
            text-align: start;
            padding: 0 2rem;
    
            &-title{
                width: 100%;
                text-align: left;
            }
    
            &-description{
                width: 100%;
            }
            
        }
    }
    
    .tools-grid{
        width: 100%;
        gap: 1rem;
    }
}