.hero {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding-top: 8rem;
}

.hero-content {
  display: flex;
  gap: 3rem;
}

.pp {
  --size: min(35vw, 13.75rem);
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  min-height: var(--size);
  background: url('/wajrock-pp.webp');
  background-size: cover;
  border-radius: var(--full-radius);
}

@keyframes pulse {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(0.8);
  }
}

.pill {
  display: inline-flex;
  gap: 0.5rem;
  border-radius: var(--full-radius);
  border: 0.075rem solid rgba(2, 6, 23, 0.2);
  padding: 0.5rem 0.875rem;

  .pill-pulse {
    height: 0.875rem;
    width: 0.875rem;
    background-color: #d6eee1;
    border-radius: var(--full-radius);
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: pulse 1s linear infinite;
      border-radius: var(--full-radius);
      background-color: var(--accent-color);
    }
  }

  .pill-text {
    font-size: 0.8rem;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    color: rgba(2, 6, 23, 0.7);
    white-space: nowrap;
  }
}

.title {
  color: var(--color-90);
  font-family: 'Space Grotesk';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.05rem;
  margin: 1rem 0 0.375rem 0;

  span {
    color: var(--accent-color);
  }
}

.description {
  color: var(--color-60);
  font-family: 'Plus Jakarta Sans';
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 1.25rem;
}

.links {
  display: flex;
  height: 2.75rem;

  & .link + .link {
    margin-left: -0.5rem;
  }
}

.projects-resume {
  margin-right: 0.5rem;
}

.link {
  --size-svg: 1.25rem;
  --width-button: 2.75rem;
  --padding-button: 0;
  --background-color: var(--bg-color);
}

.projects {
  padding: 2rem 0 6rem 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.other-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;

  & h3 {
    font-family: 'Space Grotesk';
    font-weight: 500;
    color: var(--color-80);
  }
}

.other-projects-links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  --size-text: 0.875rem;
  --size-svg: 1.125rem;
}

.other-projects-link {
  height: 2.5rem;
}

@media screen and (max-width: 767px) {
  .hero {
    gap: 4rem;
    padding-top: 4rem;
  }

  .hero-content {
    flex-direction: column;
    gap: 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .projects {
    padding: 4rem 0;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    gap: 1.25rem;
    max-width: 500px;
  }

  .other-projects {
    margin-top: 2.5rem;
  }
}
