.journey {
  gap: 0;
  align-items: center;
  --journey-section-width: min(calc(100% - 1.5rem * 2), 700px);
}

.full-width {
  width: var(--journey-section-width);
  margin-inline: auto;
}

.section-title {
  text-align: center;
}

.journey-picker {
  display: flex;
  gap: 0.5rem;
  height: 2.5rem;
  --size-svg: 1rem;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;

  &-item.active {
    --border-color: var(--color-90);
  }
}

.journey-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.journey-item {
  background-color: #f3f4f6;
  padding: 1.75rem;
  border-radius: var(--light-radius);
  border: 0.1rem solid rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;

  & .date {
    color: var(--accent-color);
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 0.9rem;
  }

  & .title {
    font-family: 'Space Grotesk';
    color: var(--color-100);
    font-weight: 600;
    font-size: 1.125rem;
    margin: 0.5rem 0 0.25rem 0;
  }

  & .description {
    color: var(--color-60);
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 140%;
  }

  & .link {
    --size-text: 0.8rem;
    color: var(--color-80);
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 1.25rem;

    & svg {
      height: 1.25rem;
    }

    &:hover {
      color: var(--accent-color);
      cursor: pointer;
    }
  }
}

.resume {
  height: 2.75rem;
  margin-top: 2rem;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 767px) {
  .journey {
    align-items: start;
    gap: 2.5rem;
  }

  .section-title {
    text-align: start;
  }

  .journey-picker {
    justify-content: start;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .journey-item {
    padding: 1.5rem;
  }

  .journey-group {
    grid-template-columns: 1fr;
  }

  .journey-picker span {
    display: none;
  }

  .resume {
    justify-content: start;
    margin-top: 1rem;
  }
}
