<main class="about section">
  <h2 class="section-title full-width">Ma vision du métier</h2>
  <div class="about-content full-width">
    <div class="text">
      <p>
        Bonjour, je m'appelle Thibaud Wajrock. Futur ingénieur en systèmes d’information, je me
        spécialise dans le développement d'architectures web modernes avec une sensibilité
        particulièrement forte pour le design, l'ergonomie et l'expérience utilisateur.
      </p>
      <p>
        Pour moi, la performance technique d'un code ne va pas sans une interface soignée. Qu'il
        s'agisse d'optimiser l'architecture d'une application ou d'ajuster une micro-interaction, je
        pousse chaque détail visuel et technique pour concevoir des produits finis qui soient à la
        fois fluides, intuitifs et rigoureux. Mon objectif est de jeter un pont solide entre
        l'ingénierie logicielle pure et les exigences du design produit.
      </p>
      <p>
        Au-delà des lignes de code, je place la bienveillance, l'écoute et l'esprit d'équipe au
        centre de ma pratique quotidienne. Je suis profondément convaincu que les solutions les plus
        innovantes et les projets les plus ambitieux naissent d'un environnement de travail
        respectueux, collaboratif et humain. C'est avec cette rigueur technique et cette énergie
        positive que je m'efforce de contribuer au succès de chaque collectif.
      </p>
    </div>
  </div>
</main>
