@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --color-jumbo: #71717A;
  --color-iron: #E4E4E7;
  --color-alabster: #FAFAFA;
  --color-athens-grey: #F4F4F5;
  --color-ship-gray: #3F3F46;
  --color-persian-blue: #06150C;
  --color-linear-alabaster-athens-gray: linear-gradient(180deg, #FAFAFA 0%, #F4F4F5 100%);
  --color-mine-shaft: #282828;
  --color-main-color:#195C34;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

html,body,#root{
  /* scroll-behavior: smooth; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display{
  display: none;
}

a{
  text-decoration: none;
}
